@font-face {
  font-family: 'PP_Hatton_Medium';
  src: url('./fonts/PP_Hatton_Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Antarctica';
  src: url('./fonts/Antarctica_VAR.woff') format('woff');
  src: url('./fonts/Antarctica_VAR.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
